/*
  Git Repo: https://github.com/Russian60/flex-calendar
*/

* {
  -webkit-font-smoothing: antialiased;
}
h3 span { font-size:16px; }
body {
  font-family: 'helvetica neue';
  background-color: #ddd;
  margin: 0;
}
.column-third { 
  flex-basis: 100%;} 
.web-title{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  min-height: 105px;
  background-image: url(https://blog.timescale.com/content/images/size/w2000/2020/03/Covid19PostHeader.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


/* css for country selections */
select {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	/*width: 20%;*/
	/*max-width: 20%;*/
	box-sizing: border-box; 
  margin-right: 20%;
  margin-bottom: 3%;
  margin-top: 5%;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
select::-ms-expand {
	display: none;
}
select:hover {
	border-color: #888;
}
select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
select option {
	font-weight:normal;
}

/*Button to generate chart*/
.generate-chart-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:2px solid #756975;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 56px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.generate-chart-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.generate-chart-button:active {
	position:relative;
	top:1px;
}

/*chart*/
#chart{
  margin-top: 30px;
}

/* css for covid stats*/
#covid-stats-heading{
  padding-top: 15px;
  padding-left: 15px;
  font-family: "Times New Roman", Times, serif;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
}

#covid-stats{
  margin-bottom: 8%;
  padding-left: 15px;
  padding-right: 20px;
  font-family: serif;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: black;
}


/* css for covid policy */
h1 {
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size:40px;
  text-align: center;
}

#policies{
  text-align: center;
  color: black;
  font-size: x-large;
  margin-left:8%;
  margin-right: 8%;
  margin-bottom: 0;
  padding-top: 40px;
  font-family: serif;
}

#innerPolicy{
  text-align: left;
  color: #fefefe;
  margin-bottom: 5%;
  padding-top: 0;
  font-size: x-large;
}

details{
  background-color: #878d99;
	border: 1px solid;
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 4px;
	transform-origin: top center;
	transform: rotate(0.1deg);
  transition: all 0.3s;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

details p{
  color: #fefefe;
  line-height: 1.7;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  font-size: 17px;
  position: relative;
}

details summary::-webkit-details-marker {
  display:none;
}

summary {
  outline: none;
	font-size: 16px;
	padding: 13px;
}

summary::after{
  margin-top: 2px;
  content: "➕";
  float: left;
  margin-right: 11px;
  text-align: center;
  font-size: 11px;
}


.wrapp {
  height: 75%;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-first {
  float: left;
  width: 60%;
  display: block;
  margin-top: 3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Library  */
.flex-calendar .days .day.selected,.flex-calendar .month{-webkit-box-orient:horizontal;-webkit-box-direction:normal}.flex-calendar .days,.flex-calendar .days .day.selected,.flex-calendar .month,.flex-calendar .week{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.flex-calendar{width:100%;min-height:50px;color:#FFF;font-weight:200}.flex-calendar .month{position:relative;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;background-color:#ffb835}.flex-calendar .month .arrow,.flex-calendar .month .label{height:60px;-webkit-box-ordinal-group:1;-webkit-order:0;-ms-flex-order:0;order:0;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-align-self:auto;-ms-flex-item-align:auto;align-self:auto;line-height:60px;font-size:20px}.flex-calendar .month .arrow{width:50px;box-sizing:border-box;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABqUlEQVR4Xt3b0U3EMBCE4XEFUAolHB0clUFHUAJ0cldBkKUgnRDh7PWsd9Z5Tpz8nyxFspOCJMe2bU8AXgG8lFIurMcurIE8x9nj3wE8AvgE8MxCkAf4Ff/jTEOQBjiIpyLIAtyJpyFIAjTGUxDkADrjhxGkAIzxQwgyAIPxZgQJAFJ8RbgCOJVS6muy6QgHiIyvQqEA0fGhAArxYQAq8SEASvHTAdTipwIoxk8DUI2fAqAc7w6gHu8KkCHeDSBLvAtApng6QLZ4KkDGeBpA1ngKQOb4YYDs8UMAK8SbAVaJNwGsFN8NsFq8FeADwEPTmvPxSXV/v25xNy9fD97v8PLuVeF9FiyD0A1QKVdCMAGshGAGWAVhCGAFhGGA7AgUgMwINICsCFSAjAh0gGwILgCZENwAsiC4AmRAcAdQR5gCoIwwDUAVYSqAIsJ0ADWEEAAlhDAAFYRQAAWEcIBoBAkAIsLX/rV48291MgAEhO747o0Rr82J23GNS+6meEkAw0wwx8sCdCAMxUsDNCAMx8sD/INAiU8B8AcCLT4NwA3CG4Az68/xOu43keZ+UGLOkN4AAAAASUVORK5CYII=) no-repeat;background-size:contain;background-origin:content-box;padding:15px 5px;cursor:pointer;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;-ms-transition:all .3s;transition:all .3s}.flex-calendar .month .arrow:last-child{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.flex-calendar .month .arrow.visible{opacity:1;visibility:visible;cursor:pointer}.flex-calendar .month .arrow.hidden{opacity:0;visibility:hidden;cursor:default}.flex-calendar .days,.flex-calendar .week{line-height:25px;font-size:16px;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.flex-calendar .days{background-color:#FFF}.flex-calendar .week{background-color:#faac1c}.flex-calendar .days .day,.flex-calendar .week .day{-webkit-box-flex:0;-webkit-flex-grow:0;-ms-flex-positive:0;flex-grow:0;min-width:14.285714286%;text-align:center}.flex-calendar .days .day{min-height:60px;box-sizing:border-box;position:relative;line-height:60px;border-top:1px solid #FCFCFC;background-color:#fff;color:#8B8B8B;-webkit-transition:all .3s ease;transition:all .3s ease}.flex-calendar .days .day.out{background-color:#fCFCFC}.flex-calendar .days .day.disabled.today,.flex-calendar .days .day.today{color:#FFB835;border:1px solid}.flex-calendar .days .day.selected{display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.flex-calendar .days .day.selected .number{width:40px;height:40px;background-color:#FFB835;border-radius:100%;line-height:40px;color:#FFF}.flex-calendar .days .day:not(.disabled):not(.out){cursor:pointer}.flex-calendar .days .day.disabled{border:none}.flex-calendar .days .day.disabled .number{background-color:#EFEFEF;background-image:url(data:image/gif;base64,R0lGODlhBQAFAOMAAP/14////93uHt3uHt3uHt3uHv///////////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAFAAUAAAQL0ACAzpG0YnonNxEAOw==)}.flex-calendar .days .day.event:before{content:"";width:6px;height:6px;border-radius:100%;background-color:#faac1c;position:absolute;bottom:10px;margin-left:-3px}